demo/receipt_parser_workflow.json
{
  "name": "AI Receipt Parser - Expense Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1bUOqMH05kr16vuC1og900YWmmxIB00u_",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "trigger-google-drive",
      "name": "📥 Watch Receipts Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "notes": "TRIGGER NODE: Monitors the 'Receipts-Inbox' Google Drive folder for new files."
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "receipt_file"
        }
      },
      "id": "download-file",
      "name": "📄 Download Receipt",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [220, 300],
      "notes": "DOWNLOAD NODE: Fetches the receipt file from Google Drive."
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "receipt_file",
        "options": {}
      },
      "id": "extract-text",
      "name": "📑 Extract from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [440, 300],
      "notes": "EXTRACT NODE: Extracts text content from PDF files."
    },
    {
      "parameters": {
        "model": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "gemini-model",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [760, 480],
      "credentials": {
        "googlePalmApi": {
          "id": "HYNiH7h79Xh31sBF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert accountant. Analyze this receipt text and extract expense data.\n\nReceipt Text:\n{{ $json.text }}\n\nReturn ONLY a valid JSON object (no markdown, no explanation) with these exact fields:\n{\n  \"date\": \"YYYY-MM-DD\",\n  \"vendor\": \"Store name\",\n  \"category\": \"One of: Office Supplies, Travel, Meals & Entertainment, Tech & Equipment, Vehicle & Fuel, Utilities, Software & Subscriptions, Professional Services, Other\",\n  \"description\": \"Brief summary of items\",\n  \"subtotal\": 0.00,\n  \"tax\": 0.00,\n  \"tip\": 0.00,\n  \"total\": 0.00,\n  \"payment_method\": \"Card type ***last4\",\n  \"transaction_id\": \"Receipt number\",\n  \"confidence\": \"high/medium/low\"\n}\n\nRules:\n- Return ONLY JSON, no other text\n- Use empty string for fields you cannot find\n- Numbers without currency symbols\n- Date in YYYY-MM-DD format"
      },
      "id": "llm-chain",
      "name": "🤖 Parse with Gemini",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [660, 300],
      "notes": "LLM CHAIN NODE: Uses Gemini to analyze the extracted text and return structured JSON."
    },
    {
      "parameters": {
        "jsCode": "// Get the response from the LLM\nconst response = $input.first().json;\n\n// Debug: log what we received\nconsole.log('LLM Response:', JSON.stringify(response, null, 2));\n\n// The LLM Chain node outputs the response in different ways\nlet text = response.text || response.output || response.response || '';\n\n// If still empty, check if the whole response is a string\nif (!text && typeof response === 'string') {\n  text = response;\n}\n\nif (!text) {\n  throw new Error('No text found in LLM response. Keys: ' + Object.keys(response).join(', '));\n}\n\n// Clean up - remove markdown code blocks if present\nlet jsonStr = text.trim();\nif (jsonStr.startsWith('```json')) {\n  jsonStr = jsonStr.slice(7);\n}\nif (jsonStr.startsWith('```')) {\n  jsonStr = jsonStr.slice(3);\n}\nif (jsonStr.endsWith('```')) {\n  jsonStr = jsonStr.slice(0, -3);\n}\njsonStr = jsonStr.trim();\n\n// Parse JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  throw new Error('Failed to parse JSON. Raw text: ' + text);\n}\n\n// Get original file info\nconst triggerData = $('📥 Watch Receipts Folder').first().json;\n\n// Build output with null-safe values (Google Sheets doesn't like null)\nconst output = {\n  Date: parsed.date || '',\n  Vendor: parsed.vendor || '',\n  Category: parsed.category || '',\n  Description: parsed.description || '',\n  Subtotal: parseFloat(parsed.subtotal) || 0,\n  Tax: parseFloat(parsed.tax) || 0,\n  Tip: parseFloat(parsed.tip) || 0,\n  Total: parseFloat(parsed.total) || 0,\n  'Payment Method': parsed.payment_method || '',\n  'Transaction ID': parsed.transaction_id || '',\n  'Receipt Link': triggerData.webViewLink || `https://drive.google.com/file/d/${triggerData.id}/view`,\n  'Processed At': new Date().toISOString(),\n  Confidence: parsed.confidence || 'low'\n};\n\nreturn [{ json: output }];"
      },
      "id": "parse-response",
      "name": "⚙️ Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "notes": "CODE NODE: Parses the JSON response, handles null values, and formats for Google Sheets."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wx6AOJWizYXxCNzD8MMFXN4b2xEqKPVACWY0ETOxE_U",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "sheet1",
          "mode": "list",
          "cachedResultName": "sheet1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "google-sheets",
      "name": "📊 Add to Expense Tracker",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1100, 300],
      "notes": "GOOGLE SHEETS NODE: Appends parsed receipt data to spreadsheet using auto-mapping."
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('📥 Watch Receipts Folder').first().json.id }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "1be5CK4Uc-3D8QFbVFDXbx9MN90tfKqkD",
          "mode": "id"
        }
      },
      "id": "move-to-processed",
      "name": "📁 Move to Processed",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1320, 300],
      "notes": "MOVE FILE NODE: Archives receipt to Processed folder."
    },
    {
      "parameters": {},
      "id": "no-op-end",
      "name": "✅ Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1540, 300],
      "notes": "END NODE: Workflow complete."
    }
  ],
  "connections": {
    "📥 Watch Receipts Folder": {
      "main": [
        [
          {
            "node": "📄 Download Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Download Receipt": {
      "main": [
        [
          {
            "node": "📑 Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📑 Extract from PDF": {
      "main": [
        [
          {
            "node": "🤖 Parse with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 Parse with Gemini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Parse with Gemini": {
      "main": [
        [
          {
            "node": "⚙️ Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Parse Response": {
      "main": [
        [
          {
            "node": "📊 Add to Expense Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Add to Expense Tracker": {
      "main": [
        [
          {
            "node": "📁 Move to Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📁 Move to Processed": {
      "main": [
        [
          {
            "node": "✅ Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Accounting"
    },
    {
      "name": "AI"
    },
    {
      "name": "Automation"
    }
  ],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "receipt-parser-demo"
  }
}
